* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url("page/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    box-sizing: border-box;
}

.mainpage {
    display: flex;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    flex-wrap: wrap;
}

.menu_a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    margin: 0 10px;
}

.rightside {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 50px;
}

.linki {
    display: flex;
    flex-direction: row;
}

.content {
    /* poprawić */
    display: flex;
    width: 100%;
    /* padding: 10px; */
    background: url("page/bg2.jpg");
    background-size: cover;
    min-height: 1200px;
    max-height: fit-content;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.left-content {
    flex-basis: 60%;
}

.down-content {
    width: 20vw;
}

.down-content h2 {
    color: black;
    font-size: 40px;
}

.omnie {
    color: black;
    margin: 20px 0;
    font-size: large;
}

.blokoferty {
    background: url("page/bg3.jpg");
    min-height: 500px;
}

.blokoferty h2 {
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.oferta {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}

.oferty {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background: white;
    height: auto;
    border-radius: 23px;
    margin: 30px 10px;
    align-items: center;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 23px 5px rgba(166, 166, 166, 0.78);
    box-shadow: 5px 5px 23px 5px rgba(166, 166, 166, 0.78);
}

.text-grey {
    color: grey;
    text-align: center;
}

.text-blue {
    color: #1ea8f1;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
}

.footer-organizer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-paterns {
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    width: 500px;
}

.footer-paterns-space {
    flex-basis: 75%;
    display: block;
}

.footer-patern {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 300px;
    margin: 20px 0 50px;
}

.footer-logo {
    height: 200px;
    margin: 0 20px;
}

.partner {
    text-align: center;
    padding: 25px 0;
}

footer {
    background: url("page/bg4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 900px;
    margin-top: 100px;
    width: 100%;
}

footer h2 {
    color: white;
    font-size: 40px;
    font-style: italic;
    align-items: center;
    font-weight: 700;
}

.motto {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    color: #1ea8f1;
}

.boldspan {
    font-weight: 700;
    color: black;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuburger {
    color: white;
    width: 16px;
    height: 16px;
    display: none !important;
}

.logoto {
    width: 100%;
    max-width: 50%;
    height: auto;
}

.active {
    display: block !important;
}

.menuburgerdwa {
    display: none;
}

.all-footer {
    padding-top: 5vh;
    display: block;
    font-size: 25px;
}

@media (min-width:1400px) {
    .motto {
        font-size: 70px;
    }
}

@media (min-width:1600px) {
    .motto {
        font-size: 80px;
    }
}

@media (max-width:1060px) {
    .menuburger {
        display: block !important;
        font-size: 50px;
    }
    .menuburgerdwa {
        color: white;
        padding: 30px;
    }
    .linki {
        display: none;
    }
    .menu_a {
        display: block;
        text-decoration: none;
        color: white;
        font-weight: 700;
        padding: 40px 20px;
        margin: 0 10px;
    }
    .linki {
        position: absolute;
        left: 0;
        background: black;
        width: 100%;
        height: 100vh;
        text-align: center;
        top: 0;
    }
}